nav {
    display: flex;
    justify-content: space-between;
}

nav button {
    border: none;
    background: white;
    color: purple;
}

main {
    text-align: center;
    margin: 10vh;
}

button {
    background: purple;
    color: white;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
}

.right {
    display:none;
    width: 80%;
    margin: 0 auto;
    color: gray;
}

